* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Open Sans", sans-serif;
  color: #1b1b1b;
}

body {
  background-color: #f5f4f0;
}

#page {
  width: 1100px;
  margin: 90px 80px;
}

section .headline {
  color: #e1624f;
  font-size: 16px;
  font-weight: bold;
}
